<div class="search">
  <form #form="ngForm" (submit)="onSubmit()" >
    <input type="text" placeholder="City..." name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data"
  ><div class="modal"></div>
    <img src="../assets/warm.jpg" alt="" *ngIf="weatherData.main.temp > 15">

    <img src="../assets/cold.jpg" alt="" *ngIf="weatherData.main.temp <= 15">

    <img src="../assets/colder.jpg" alt="" *ngIf=" weatherData.main.temp <= 0 ">


    <div class="weather-data">
      <div class="location">
       {{weatherData.name}}  {{weatherData.sys.country}}
      </div>
      <div class="temperature">{{weatherData.main.temp | number :'1.0-0' }}ºC</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More information
    </div>
  <div class="more-info-container">
    <div class="info-block">
      <div class="info-block-label">
        <i class="fa-solid fa-temperature-low"></i>
        <span>min</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.temp_min | number :'1.0-0' }}ºC
      </div>
    </div>
    
    <div class="info-block">
      <div class="info-block-label">
        <i class="fa-solid fa-temperature-high"></i>
        <span>max</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.temp_max | number :'1.0-0'}}ºC
      </div>
    </div>
    
    <div class="info-block">
      <div class="info-block-label">
        <i class="fa-solid fa-droplet"></i>
        <span>humidity</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.humidity}}%
      </div>
    </div>
    
    <div class="info-block">
      <div class="info-block-label">
        <i class="fa-solid fa-wind"></i>
      <span>wind</span>
      </div>
      <div class="info-block-value">
        {{weatherData.wind.speed | number :'1.0-0' }}km/h
      </div>
    </div>
  </div>
</div>
</div>